{% extends 'base.html.twig' %}

{% block title %}Hello CommentController!{% endblock %}

{% block body %}
{{ form_start(form) }}
{{ form_row(form.content) }}
<button>Добавить</button>
{{ form_end(form) }}
{% endblock %}
